@import "../../global.scss";

.contact {
  background-color: $thirdColor;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 0.8;
    overflow: hidden;
    margin-left: 100px;
    background-color: $mainColor;
    border-radius: 10%;

    @include mobile {
      margin: 0;
    }

    img {
      height: 100%;
    }
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include mobile {
    }

    h2 {
      font-size: 30px;

      @include mobile {
        font-size: 25px;
        margin-bottom: 10px;
      }
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      @include mobile {
        margin-bottom: 10px;
      }

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
        padding: 5px;
        border: none;

        &:focus {
          outline: none;
        }

        @include mobile {
          width: 100%;
          padding-left: 50px;
          margin-bottom: 15px;
        }
      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;
        padding: 5px;
        border: none;

        &:focus {
          outline: none;
        }

        @include mobile {
          width: 100%;
          padding-left: 50px;
          margin-bottom: 10px;
        }
      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: $mainColor;
        border: none;
        border-radius: 10px;

        @include mobile {
          margin-bottom: 10px;
          height: 40px;
        }

        &:focus {
          outline: none;
        }
      }

      span {
        margin-left: 25px;
        height: 50px;
      }
    }
  }
}
